{% extends 'layouts/base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block contacts %}

    <!-- button -->
    <div class=" mt-6">
    </div>
    <!-- button end -->

{% endblock%}


{% block message %}
<!-- head -->
<div class=" bg-black h-12">
  <h2 class="text-start text-white py-2 pb-5 px-5 text-2xl font-semibold font-sans">
    Login
  </h2>
</div>
<!-- head end -->
<!-- body -->
<div class=" bg-slate-400 h-[600px]">

  <!--  content  -->
  <div class="flex justify-center h-[90%] w-full">
    <div class=" justify-self-center m-auto bg-slate-400 rounded-md font-medium px-4 py-1">
      <div class="flex flex-col">
        <form method="post" novalidate>
          <div class="container px-6 py-12 h-fit">
            <div class="flex justify-center items-center flex-nowrap h-full g-6 text-gray-800">
              <!-- image -->
              <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                  class="w-full" alt="Phone image" />
              </div>
              <!-- image end -->
              <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
                {% csrf_token %}
                <!-- Get the username -->
                <div class="mb-6">
                  <div class="class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white
                    bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" ">
                      {{ form|crispy}}
                  </div>
                </div>
                <!-- username end -->
                <!-- button -->
                <div class=" mt-6">
                    <button type="submit"
                      class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                      data-mdb-ripple="true" data-mdb-ripple-color="light">
                      Login
                    </button>
                  </div>
                  <!-- button end -->
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- content -->
  {% endblock %}